h3{
    font-family: 'Courier New', Courier, monospace;
    color: #1100ff;
}

p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}